# Realm database
github "realm/realm-cocoa" ~> 1.0

# ReactiveKit
github "https://github.com/turekj/ReactiveKit" "swift-23"
github "https://github.com/turekj/ReactiveUIKit" "swift-23"

# Quick
github "Quick/Quick" ~> 0.9
github "Quick/Nimble" ~> 4.1

# Swinject
github "Swinject/Swinject" ~> 1.1.0

# Carthography
github "robb/Cartography" ~> 0.7

